h1 {
  color: #fff;
}

.games {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45);
}

.games a {
  border-bottom: 1px solid #456;
}

.backdrop-name,
.backdrop-name a {
  margin-top: 7rem;
  text-align: center;
  color: #678;
}

.backdrop-name a:hover {
  color: #9ab !important;
}

.games-header .item {
  cursor: pointer;
}

.games-header {
  text-align: center;
}

.games-header a {
  color: #def;
}

.games-header a:hover {
  color: #fff !important;
}

.games-header .button {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.45) !important;
}
